@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto+Mono:wght@400;700&family=Titillium+Web:wght@400;700&display=swap');

:root { 

}

body { 
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0px; 
    padding: 0px;
}
a { 
    color: dodgerblue;
}

main { 
    display: grid; 
    grid-template-columns: minmax(200px, 300px) auto;
    grid-gap: 20px;
    width: 90%; 
}
.sidebar { 
    background: #f6f6f6;
    border-right: solid 1px #eee;
    padding: 30px;
    min-height: 100vh;
    font-size: 0.9rem;
}
.sidebar-item { 
    cursor: pointer;
    padding-bottom: 10px;
}
